/*
*{
    border-width: 1px;
    border-color: red;
    border-style: solid;
    
    border: solid red 1px;
    margin: 3px;
    margin: 5px;
    margin-right: 3px;
    margin-top: 3px;
    padding: 6px;
}
*/


.small{
    width: 64px;
    height: 64px;
}

.medium{
    width: 128px;
    height: 128px;
}

.large{
    width: 512px;
    height: 512px;
}
div.image{
    background-color: pink;
    background-image: url("hippo.jpg");
    background-repeat: round;
    background-size: contain;

    text-align: center;
}

/*
hgroup{
    border-color: green;
    border-style: dotted;
    margin: 5 2px;
}
*/

P{
    font-size: 18px;
    font-style: italic;
}

#main_article{
    text-transform: uppercase;
}

#intro_p{
    background-color: lightgray;
    font-weight: bolder;
}

.myfirstgroup{
    color:pink;
}

h5.myfirstgroup{
    transform: rotate(180deg);
}

.label{
    transform: rotate(-45deg);
}

.small > .label{
    margin-top: 25px;
    font-size: 8px;
}

.medium > .label{
    margin-top: 55px;
    font-weight: bold;
}

.large > .label{
    margin-top: 55px;
    font-weight: bolder;
    font-size: 48px;;
}