Semester 6 Winter 2026/System Development/Infrastructure as Code (IaC)/Assignment IaC/Code/Files/.terraform/providers/registry.terraform.io/hashicorp/aws/3.44.0/windows_amd64/terraform-provider-aws_v3.44.0_x5.exe
Semester 6 Winter 2026/System Development/Configuration Management (CM)/Assigment CM/Original Files/.terraform/providers/registry.terraform.io/hashicorp/aws/3.44.0/windows_amd64/terraform-provider-aws_v3.44.0_x5.exe
Semester 6 Winter 2026/System Development/Assignment IaC/Code/Files/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
Semester 6 Winter 2026/System Development/Assignment IaC/Code/Files/.terraform/providers/registry.terraform.io/hashicorp/aws/3.44.0/windows_amd64/terraform-provider-aws_v3.44.0_x5.exe
Semester 6 Winter 2026/E-Commerce/Lab6/simple-shop-lab6/
Semester 6 Winter 2026/Application Development II/Exams/test1/windows/flutter/ephemeral96b09371
