body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer{
    background-color: navy;
    color: white;
    text-align: center;
}

header{
    padding-top: 20px;
}

#profile{
    border: solid;
    border-width: 5px;
    border-color: white;
}

header nav{
    background-color: black;
    display: block;
}

footer{
    padding-top: 15px;
    padding-bottom: 15px;
}

nav ul{
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin-left: 15px;
    margin-right: 15px;
}

nav ul li a{
    color: white;
    text-decoration-line: none;
}

main{
    padding: 20px;
    max-width: 750px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.projects{
    display: flex;
    margin-top: 20px;
}

.project-card{
    min-width: 250px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 8px;
    margin: 12px;
}

.image{
    border-radius: 6px;
    width: 100%;
    height: auto;
    display: block;
    
}

.contact-me{
    flex-direction: column;
    display: flex;
    max-width: 500px;
    margin: 40px auto;
    padding: 32px;

    input, textarea{
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        border: 1px solid lightgray;
        margin-bottom: 20px;
    }

    button{
        padding: 10px,

    }
}